---
Astro.response.headers.set('Cache-Control', 's-maxage=10, stale-while-revalidate');
const time = new Date().toLocaleTimeString();
import Layout from "../layouts/Layout.astro";
import Trending from "@pages/home/Trending.astro";
import LatestNews from "@pages/home/LatestNews.astro";
import ByCategories from "@pages/home/ByCategories.astro";
import Ticker from "@components/Ticker.astro";
// import TrendingDynamic from "@pages/home/TrendingDynamic.astro";
import TrendingReact from "@pages/home/TrendingReact.astro";
---
<style> 

</style>
<Layout title="Home">
    <h1>{time}</h1>
    <Ticker />
    <!-- <TrendingDynamic /> -->
    <TrendingReact />
    <Trending />
    <LatestNews />
    <ByCategories />
</Layout>

         
