---
import { Icon } from "astro-icon/components";
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<div class="header-bottom">
  <div class="container">
    <div class="main-menu">
      <nav>
        <ul>
          <li>
            <a class={currentPath === "" ? "is-active" : ""} href="/"
              >Portada</a>
          </li>
          <li>
            <a
              class={currentPath === "secciones" ? "is-active" : ""}
              href="/secciones">Secciones</a>
          </li>
          <li>
            <a class={currentPath === "acerca-de" ? "is-active" : ""} href="#"
              >Acerca de</a>
          </li>
          <li>
            <a class={currentPath === "destacadas" ? "is-active" : ""} href="#"
              >Destacadas</a>
          </li>
          <li>
            <a class={currentPath === "contacto" ? "is-active" : ""} href="#"
              >Contacto</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="search">
      <div class="search-box">
        <Icon name="tabler:zoom" class="search-icon" />
        <form action="#">
          <input type="text" placeholder="Buscar" />
        </form>
      </div>
    </div>
  </div>
</div>
<style>
  .header-bottom {
    border-top: 1px solid #eee;
    box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.1);
          

    & .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      align-content: center;
      overflow: clip;


    }
    & .main-menu {
      & ul {
        display: flex;

        & a {
          color: #002e5b;
          font-weight: 500;
          padding: 39px 19px;
          display: block;
          font-size: 14px;
          &:after {
            content: "";
            width: 0px;
            height: 2px;
            background: color-mix(in srgb, var(--primary) 20%, #fff 50%);
            display: block;
            transition: width 0.3s;
            display: flex;
            justify-content: center;
            margin: 0 auto;
          }
          &:hover {
            text-decoration: none;
            color: var(--primary);
            &:after {
              width: 100%;
            }
          }
          &.is-active {
            color: var(--primary);
            font-weight: 600;
            &:after {
              content: "";
              width: 100%;
              height: 2px;
              background: var(--primary);
              display: block;
              justify-content: center;
              margin: 0 auto;
            }
          }
        }
      }
    }
    & .search {
      display: flex;
      justify-content: flex-end;
      .lupe-icon {
        cursor: pointer;
        order: 1;
        &:hover path {
          color: var(--primary);
        }
      }
      & .search-box {
        display: flex;
        gap: 10px;
        position: relative;
        & svg {
          font-size: 20px;
          cursor: pointer;
        }
        &:hover path {
          color: var(--primary);
        }
        & form {
          --size: 200px;
          opacity: 0;
          visibility: hidden;
          position: absolute;
          width: 0px;
          bottom: -8px;
          left: calc((var(--size) * -1));
          transition: all 0.35s ease;
          & input {
            width: calc(var(--size) - 5px);
            border: 1px solid #ddd;
            padding: 6px;
            border-radius: 4px;
          }
        }
        &:hover form {
          width: var(--size);
          opacity: 1;
          visibility: visible;
          bottom: -4px;
        }
      }
    }

    @media (max-width: 1024px) {
      display: none;
    }
  }

</style>
<script>
  const submitForm = document.querySelector(".search-box form");
  const searchIcon = document.querySelector(".search-icon");
  submitForm?.addEventListener("submit", (e) => {
    e.preventDefault();
    const word = submitForm.querySelector("input")?.value;
 
    submitFunction(word);
  });
  searchIcon?.addEventListener("click", (e) => {
    e.preventDefault();
    const inputElement = document.querySelector(
      ".search-box form input"
    ) as HTMLInputElement;
    const word = inputElement?.value;
    submitFunction(word);
  });
  function submitFunction(word) {
    if (!word) return;  
    
    window.location.href = "/resultados?s=" + encodeURIComponent(word);
  }
</script>
